/* SLOT MACHINE CONTAINER */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Play", sans-serif;
    font-weight: 400, 700;
    font-style: normal;
    text-align: center;
    height: 100vh;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(83, 173, 139), rgb(94, 186, 196));
    color:rgb(3, 13, 31);
}

 #slotMachine{
    width: 650px; 
} 

h1 {
    margin-bottom: 60px;
    font-size: 3rem;
}

/* CARD CONTAINER */
#reelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reelCards {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    margin-right: 5px;
    background:rgb(248,219,198)
}

input {
    width: 150px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    /* margin-right:5px; */
    font-size: 1rem;
}

button {
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background: rgb(187,48,57);
    color: white;
}

/* BET CONTAINER */
#betContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2rem;
}

#result{
    font-size: 3rem;
}